.career-page {
  background: #e6e6e6;
  font-family: "Times New Roman", serif;
}

/* HERO */
.career-hero {
  position: relative;
  height: 60vh;
}

.career-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.career-overlay {
   position: absolute;
  inset: 0;
  background-color: rgba(23, 71, 123, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}
.career-overlay h1 {
  color: #e6e6e6;
  font-size: 64px;
  letter-spacing: 2px;
}

/* HEADER */
.career-header {
  background: #e6e6e6;
  padding: 60px 80px 40px;
  text-align: center;
}

.career-header h1 {
  color: #17477b;
  margin-bottom: 30px;
}

.career-filters {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.career-filters input,
.career-filters select {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  background: #ffffff;
}

/* JOBS */
.career-content {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: -80px;
}

.job-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  align-self: start;
}

.job-card h3 {
  color: #17477b;
}

.more-details {
  background: none;
  border: none;
  color: #17477b;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

/* DETAILS */
.job-details {
  margin-top: 20px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.job-details h4 {
  color: #17477b;
  margin-top: 15px;
}

.job-details ul {
  margin-top: 8px;
}

.send-resume {
  margin-top: 20px;
  background: #ed985f;
  border: none;
  color:#ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* MODAL */
.resume-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  width: 320px;
  position: relative;
}

.resume-box input,
.resume-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.resume-box input[disabled] {
  background: #f2f2f2;
}

.send-resume-btn {
  background: #ed985f;
  color:#ffffff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color:#ed985f;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .career-header,
  .career-content {
    padding: 50px 20px;
  }
  .career-overlay h1 {
    font-size: 42px;
    text-align: center;
  }
}
