.Embeddedprojects {
  background-color: #e6e6e6;
  padding: 180px 80px 160px;
  text-align: center;
  margin-top: -150px;
  font-family: "Times New Roman", Times, serif;
}

/* Title */
.Embeddedprojects-title {
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
  color: #17477b;
  margin-bottom: 14px;
}


.Embeddedprojects-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background: #ed985f;
  margin: 20px auto 0;
  border-radius: 2px;
}

.Embeddedprojects-subtitle {
  font-size: 18px;
  color: #17477b;
  margin-bottom: 80px;
}

/* Grid */
.Embeddedprojects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


.Embeddedproject-card {
  position: relative;
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.Embeddedprojects.show .Embeddedproject-card {
  animation: fadeUpCard 0.9s ease forwards;
}

/* Image */
.Embeddedproject-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.Embeddedproject-card:hover .Embeddedproject-image {
  transform: scale(1.1);
}

/* Overlay */
.Embeddedproject-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(23, 71, 123, 0.9),
    rgba(23, 71, 123, 0.2)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: #ffffff;
}

.Embeddedproject-overlay h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.Embeddedproject-overlay p {
  font-size: 15px;
  opacity: 0.9;
}

/* Animation */
@keyframes fadeUpCard {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 1000px) {
  .Embeddedprojects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .Embeddedprojects {
    padding: 140px 20px;
  }

  .Embeddedprojects-grid {
    grid-template-columns: 1fr;
  }
}
