.embedded-hero {
  position: relative;
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;        
  justify-content: center;    
  overflow: hidden;
}



.embedded-hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(23, 71, 123, 0.97),
    rgba(11, 36, 64, 0.94)
  );
  z-index: 1;
}


.embedded-hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 80px;
  color: #ffffff;
  text-align: left;

  transform: translateY(40px);   
  animation: fadeUp 1.2s ease forwards;
}


.embedded-hero-content h1 {
  font-size: 46px;
  margin-bottom: 18px;
  font-weight: 700;
  animation: slideIn 1.1s ease forwards;
}

.embedded-hero-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 650px;
  opacity: 0;
  animation: fadeIn 1.4s ease forwards;
  animation-delay: 0.3s;
  margin-left: 20px;
}

/* Animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .embedded-hero {
    height: 30vh;
  }

  .embedded-hero-content {
    padding: 0 20px;
    text-align: center;
    transform: translateY(20px);
  }

  .embedded-hero-content h1 {
    font-size: 36px;
  }
}

