.embedded-hero {
  position: relative;
  height: 80vh;
  width: 100%;
  background-size: cover;

  
  background-position: left 30% top 20%; 

  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}




.embedded-hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}


.embedded-hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 80px;
  color: #ffffff;
  text-align: left;

  transform: translateY(40px);   
  animation: fadeUp 1.2s ease forwards;
}


.embedded-hero-content h1 {
  font-size: 46px;
  margin-bottom: 18px;
  font-weight: 700;
  animation: slideIn 1.1s ease forwards;
}

.embedded-hero-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 650px;
  opacity: 0;
  animation: fadeIn 1.4s ease forwards;
  animation-delay: 0.3s;
  margin-left: 20px;
}

/* Animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .embedded-hero {
    height: 30vh;
  }

  .embedded-hero-content {
    padding: 0 20px;
    text-align: center;
    transform: translateY(20px);
  }

  .embedded-hero-content h1 {
    font-size: 36px;
  }
}
.services-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fafd;
  border-top: 1px solid #e6edf5;
  border-bottom: 2px solid #17477b;
}


.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 18px 10px;   
  cursor: pointer;
  transition: all 0.3s ease;

  border-right: 1px solid #e6edf5;
  color: #2c3e50;
}

.tab:last-child {
  border-right: none;
}


.tab svg {
  font-size: 20px;  
  color: #17477b;
  margin-bottom: 8px;  
  transition: 0.3s ease;
}


.tab span {
  font-size: 13px;  
  font-weight: 500;
  color:#17477b;
  text-align: center;
  line-height: 1.3;
  max-width: 150px;
}


.tab:hover {
  background: #eef4ff;
}

.tab:hover svg {
  transform: translateY(-2px);
}



.tab.active {
  background: #ffffff;
  border-bottom: 4px solid #17477b;
  font-weight: 600;
}

@media (max-width: 900px) {
  .services-tabs {
    flex-direction: column;
  }

  .tab {
    border-right: none;
    border-bottom: 1px solid #e0e6ef;
  }

  .tab.active {
    border-bottom: 3px solid #17477b;
  }
}


