.hero {
  position: relative;
  min-height: calc(100vh - 70px); 
  /* horizontal spacing now handled by .site-container */
  padding: 20vh 0;
  display: flex;
  align-items: flex-start;
  color: #e6e6e6;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate(-50%, -50%);
  z-index: 0;

  backface-visibility: hidden;
  will-change: transform;
}



.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
  135deg,
  rgba(23, 71, 123, 0.3),
  rgba(11, 36, 64, 0.2)
);

  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin-top: 20px;
}

.hero-slogan {
  display: inline-block;
  color: #ffffff;
  font-weight: 500; 
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ed985f;
  padding: 8px 18px; 
  border-radius: 6px;
}
.hero-title {
  margin-top: 10px;
  font-size: 56px; 
  font-weight: 700; 
  line-height: 1.2;
  margin-bottom: 20px; 
  color: #ffffff;
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0 25px; 
  max-width: 700px;
  font-weight: 500; 
}



.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 14px 28px;
  border-radius: 10px; 
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #ffffff;
  color: #17477b;
}

.btn.primary:hover {
  background-color: #f5f5f5;
}


.btn-arrow .arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}


.btn-arrow:hover .arrow {
  transform: translateX(5px);
}

.btn.secondary {
  border: 2px solid #ed985f;
  color: #ed985f;
  background: transparent; 
}

.btn.secondary:hover {
  background-color: #ed985f;
  color: #ffffff;
}



.hero::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -260px;
  width: 200%;
  height: 520px;
  background-color: #e6e6e6;
  border-radius: 50%;
  z-index: 2;
  display: none;
}


@media (max-width: 900px) {
  .hero {
    padding: 130px 0 80px;
    text-align: center;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-content {
    margin-top: 10px;
  }

  .hero::after {
    height: 420px;
    bottom: -210px;
  }
}
